# Gitignore for Automated System Tests for the Jira ConDec plug-in

# Directories
codemr/
target/
bin/
.idea/
.metadata/
*target/
node_modules/
.vscode/

# Files
.classpath
.project
.settings
*.iml
*.class
config.properties
preview_standalone.*
pngLaTeX.*
tikz-uml.sty
config.json
test-results.xml
package-lock.json